<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container">
        
        <!-- Sign-up Section -->
        <section class="sign sign-up-section">
            <div class="form_border">
                <!-- Sign-up Form -->
                <form class="p-5" action="/sign-up" method="POST">
                    <h2 class="mb-5">Sign-up</h2>

                    <!-- First Name Input -->
                    <div class="row mb-3">
                        <label for="firstName" class="col-sm-3 col-form-label"><strong>First Name:</strong></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstName" name="firstName" required placeholder="John">
                        </div>
                    </div>

                    <!-- Last Name Input -->
                    <div class="row mb-3">
                        <label for="surname" class="col-sm-3 col-form-label"><strong>Last Name:</strong></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="surName" name="surName" required placeholder="Doe">
                        </div>
                    </div>

                    <!-- Phone Input -->
                    <div class="row mb-3">
                        <label for="phone" class="col-sm-3 col-form-label"><strong>Phone:</strong></label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" id="phone" name="phone" required pattern="[0-9]{10}" placeholder="123 456 7890">
                        </div>
                    </div>

                    <!-- Username Input -->
                    <div class="row mb-3">
                        <label for="username" class="col-sm-3 col-form-label"><strong>Username:</strong></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userName" name="userName" required placeholder="YourUsername">
                        </div>
                    </div>

                    <!-- Email Input -->
                    <div class="row mb-3">
                        <label for="email" class="col-sm-3 col-form-label"><strong>Email:</strong></label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="example@example.com">
                        </div>
                    </div>

                    <!-- Password Input -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label"><strong>Password:</strong></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" name="password" required placeholder="*********">
                        </div>
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label"><strong>Confirm Password:</strong></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required placeholder="*********">
                        </div>
                    </div>

                    <!-- Display error messages here if needed -->

                    <!-- Sign-up Button -->
                    <button type="submit" class="button colored-section col-md-4 btn btn-customized mt-4">Sign-up</button>
                </form>
                <!-- End Sign-up Form -->

            </div>
        </section>
        <!-- End Sign-up Section -->
    </main>

    <%- include('../includes/end.ejs') %>
