<footer class="footer">
    <div class="container">
        <!-- Copyright Information -->
        <p>
            <i class="fa-sharp fa-regular fa-copyright"> 2024 CheapTrips </i>
            <a href="https://github.com/OrenGolanProjects/cheaptrips-client"> <i class="fab fa-github" style="margin-left: 5px;"> GitHub</i>
            </a>
        </p>
        

    </div>
</footer>

<!-- Bootstrap and other scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..." crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..." crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..." crossorigin="anonymous"></script>

<!-- -------------------- -->
<!-- search-trip.ejs file -->
<!-- -------------------- -->

<!-- Function to Manage Range Selection -->
<script>
    function updateDistance(value) {
        document.getElementById('selectedDistance').textContent = value + ' km';
    }

    function updatePlacesAmount(value) {
        document.getElementById('selectedPlacesAmount').textContent = value + (value === '1' ? ' place' : ' places');
    }
</script>

<!-- Function to Format Date into yyyy-MM-dd -->
<script>
    function formatDate(input) {
        // Get the selected date from the input field
        const selectedDate = input.value;

        // Create a Date object using the selected date
        const dateObject = new Date(selectedDate);

        // Get the year, month, and day
        const year = dateObject.getFullYear();
        const month = (dateObject.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 to the month since it is zero-based
        const day = dateObject.getDate().toString().padStart(2, '0');

        // Format the date as yyyy-MM-dd
        const formattedDate = `${year}-${month}-${day}`;

        // Set the input value to the formatted date
        input.value = formattedDate;
    }
</script>

<!-- Display Dates in the Search Trip Page -->
<script>
    function toggleDateInputs() {
        
        const monthsDiv = document.getElementById('months');
        // const departureDateInput = document.getElementById('dates');
        const tripMonthsRadio = document.getElementById('trip-months');

        // If "Search By Months" is selected, hide date inputs; otherwise, show them
        if (tripMonthsRadio.checked) {
            monthsDiv.classList.remove('col-md-6');
            monthsDiv.classList.add('sign');
            dates.style.display = 'none';
        } else {
            dates.style.display = 'block';
            monthsDiv.classList.remove('sign');
            monthsDiv.classList.add('col-md-6');
        }
    }

    // Call the function on page load to initialize the state
    toggleDateInputs();
</script>

<!-- -------------------- -->
<!-- select-city.ejs file -->
<!-- -------------------- -->

<!-- Function to Show the Modal -->
<script>
    $(document).ready(function () {
        $('#cityModel').modal('show');
    });
</script>

<script>
    setTimeout(function() {
        document.querySelector('.alert').style.display = 'none';
    }, 2000);
</script>

</body>
</html>
