<header class="header">
    <div class="container container-page">
        <div class="row">
            <nav class="navbar">
                <div class="col-sm logo">
                    <h1>CheapTrips</h1>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sign-up">Sign-up</a></li>
                        <li><a href="/search-trips">Search-Trips</a></li>
                        <li><a href="/trip-result">Trip-Results</a></li>
                        <li><a href="/user-settings">User-Settings</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul >
                        <% if (isAuthenticated==='false') { %>
                            <li class="main-header__item">
                                <a  href="/">Log-in</a>
                            </li>
                        <% } else { %>
                            <li class="main-header__item">
                                <form action="/logout" method="POST">
                                    <button type="submit">Log-out</button>
                                </form>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
        
    </div>
</header>
